@charset "utf-8";
/* CSS Document */
/*mobil*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #c0c0c0;
	font-family: 'Encode Sans Expanded', sans-serif;
}

#wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}



nav {
	grid-column: 1 / 5;

}

ul {
	display: none;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	background-color: #333;
	margin: 0;
	padding: 0;
	line-height: 2;
	font-size: 1.2em;
	transition: ease-in-out;
}

li {
	float: none;
	margin: 8px 0px;
	border-bottom: 1px solid rgb(194, 182, 182);

}

li a {
	text-decoration: none;
	color: #fff;

}



#open {
	display: inline-block;
	right: 1rem;
	top: .75rem;
	position: absolute;
	background-color: transparent;
	color: #fff;
	font-size: 25px;
	border: none;

}

#close {
	display: inline-block;
	background-color: #333;
	color: #fff;
	font-size: 25px;
	margin: 6px;
	border: none;
}


main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1 / 5;
}





@media only screen and (min-width: 700px) {
	/*Her begynder desktop*/


	#wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}




	nav {
		grid-column: 1 / 13;
	}

	ul {
		display: inline-block;
		list-style-type: none;
		overflow: hidden;
		background-color: #333;
		font-size: 1.2em;
		line-height: 1.6;
		width: 100%;
	}

	li {
		float: left;
		border-bottom: none;
	}

	li a {
		display: block;
		color: #ffffff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: 0.4s;

	}

	li a:hover {
		border: 1px solid#fff;
	}

	#open {
		display: none;
	}


	#close {
		display: none;
	}

	main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column: 1 / 13;
	}





}